:root {
  --primary-color: #141e61;
  --secondary-color: #1597bb;
  --accent-color: #8fd6e1;
  --bg-color-primary: #fbfbfb;
  --bg-color-secondary: #fff;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #d9eafd;
    --secondary-color: #4cc9fe;
    --accent-color: #c6e7ff;
    --bg-color-primary: #1b2430;
    --bg-color-secondary: #222831;
  }
}

.dark-theme {
  --primary-color: #d9eafd;
  --secondary-color: #4cc9fe;
  --accent-color: #c6e7ff;
  --bg-color-primary: #1b2430;
  --bg-color-secondary: #222831;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: var(--bg-color-primary);
  color: var(--primary-color);
  padding: 1rem 2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.changelog-container {
  padding: 2rem;
  border-radius: 1rem;
  max-width: 525px;
  width: 100%;
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 0.5rem #1597bb50;
  text-align: center;
  position: relative;
}

#toggle-theme {
  position: absolute;
  top: 2%;
  right: 2%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#toggle-theme > iconify-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
  transition: color 0.15s linear;
}

#toggle-theme:hover > iconify-icon {
  color: var(--secondary-color);
  filter: drop-shadow(0 0 3px var(--secondary-color));
}

.light-icon {
  display: none;
}

.changelog-container h1 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.changelog-container p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.timeline {
  position: relative;
  margin: 1.2rem 0;
  padding: 0;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: var(--primary-color);
}

.timeline-item {
  margin-bottom: 1.2rem;
  position: relative;
  width: calc(50% + 1px);
  padding-right: 1.2rem;
  text-align: right;
}

.timeline-item:nth-child(even) {
  text-align: left;
  left: calc(50% - 1px);
  padding-left: 1.2rem;
  padding-right: 0;
}

.timeline-item:nth-child(even) .timeline-content {
  margin-left: 0;
}

.timeline-item::before {
  content: "";
  position: absolute;
  right: -4px;
  top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.timeline-item:nth-child(even)::before {
  left: -4px;
}

.timeline-date {
  font-size: 0.9rem;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.timeline-content {
  background-color: var(--bg-color-secondary);
  padding: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.8rem #1597bb50;
  display: inline-block;
}

.btn {
  margin-top: 1rem;
  background-color: var(--secondary-color);
  color: var(--bg-color-secondary);
  font-weight: bold;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.11s linear;
}

.btn:hover {
  background-color: var(--primary-color);
}

/* MODAL */
.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.modal-content {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.8rem #1597bb50;
  border: 1px solid var(--secondary-color);
  background-color: var(--bg-color-primary);
  width: 400px;
}

.modal-content h2 {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}

.input-field {
  display: grid;
  gap: 0.3rem;
}

.input-field label {
  font-weight: bold;
  font-size: 1.2rem;
}

.input-field textarea {
  resize: none;
  background-color: var(--bg-color-secondary);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  color: var(--primary-color);
}

.input-field textarea:focus {
  outline: 1px solid var(--secondary-color);
  border: none;
}

.btn-container {
  text-align: right;
}

@media (max-width: 760px) {
  .timeline-item {
    width: 100%;
    text-align: left;
    padding-left: 1.6rem;
  }

  .timeline-item:nth-child(even) {
    left: 0;
    padding-left: 1.6rem;
  }

  .timeline-item:nth-child(even)::before {
    left: 5px;
  }

  .timeline::before {
    left: 10px;
  }

  .timeline-item::before {
    left: 5px;
  }

  .modal-content {
    width: 320px;
  }
}
